<!DOCTYPE html>
<html>

<head>
    <title>Genea.app - 构建您的家谱</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Genea 是一个免费的工具，无需注册即可创建和编辑您的家谱。Genea 让您完全控制存储 GEDCOM 家族遗产数据的位置。" />
    <meta name="keywords" content="genea,家谱,软件,免费,开源,gedcom,家族树,家族血统,遗产,myheritage,基于网络,在线,家谱学家,历史学家,祖先,档案,世系,出生,死亡,葬礼,婚姻,隐私设计" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Dependencies -->
    <script src="resources/vuejs/vue.js"></script>
    <script src="resources/wasm/index.min.js"></script>
    <script>
        var hpccWasm = window["@hpcc-js/wasm"];
    </script>
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://unpkg.com/isomorphic-git@beta"></script>
    <script type="module">
        import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js'; window.http = http; window.fs = new LightningFS('fs'); window.pfs = window.fs.promises;
    </script>
    <link href="resources/googlefonts/materialicons.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/materialize/css/materialize.min.css">
    <!-- Genea.app -->
    <link rel="stylesheet" href="css/style.css" />
    <script type="application/javascript" src="js/tags.js"></script>
    <script type="application/javascript" src="js/gedcom.js"></script>
    <script type="application/javascript" src="js/stamboom.js"></script>
    <script type="application/javascript" src="components/tree.js"></script>
    <script type="application/javascript" src="components/personaldetails.js"></script>
    <script type="application/javascript" src="components/relations.js"></script>
    <script type="application/javascript" src="components/debug.js"></script>
    <script type="application/javascript" src="modals/new-person.js"></script>
</head>

<body>
    <div id="genea">

        <!-- 开始 -->
        <div id="overlay" v-if="page=='start'" class="container" style="max-width: 600px;">
            <h1 class="header">Genea.app</h1>
            <div class="divider"></div>
            <div class="section" v-if="!isNative()">
                <h4 class="light">构建和编辑您的家谱；完全免费！</h4>
                <p style="text-align: justify;">
                    Genea 是一个遵循<a href="https://en.wikipedia.org/wiki/Privacy_by_design" target="_blank">隐私设计</a>和<a href="https://github.com/genea-app/genea-app" target="_blank">开源</a>原则的工具，任何人都可以使用它来创建或编辑自己的家谱。您的数据格式遵循<a href="https://www.gedcom.org/" target="_blank">GEDCOM</a>规范，因此可以与其他家谱服务进行交换。所有处理都在浏览器中完成，让您完全控制数据的保存位置，避免任何形式的供应商锁定。
                </p>
                <p>
                    <a href="screenshots/doe_family.mp4" target="_blank">
                        <img src="screenshots/doe_family.png" title="家谱预览" class="responsive-img" />
                    </a>
                </p>
                <p style="text-align: justify;">
                    您可以在移动设备和桌面设备上使用 Genea。您所做的更改会持久存储在您的设备上。要从多个设备上工作，您可以保存 GEDCOM 文件并通过电子邮件或云服务（如 Dropbox）进行交换，或者使用内置的 Git 集成将工作存储在任何私有或公共仓库中。
                </p>
            </div>
            <div class="section" v-if="isNative()">
                <h4 class="light">构建和编辑您的家谱</h4>
                <p style="text-align: justify;">
                    从头开始创建新的家谱，或从其他服务（如 MyHeritage、FamilySearch 或 Ancestry）导出的 GEDCOM 文件开始。
                </p>
            </div>
            <div class="section" v-if="isLocalStorage()" v-cloak>
                <button class="btn-large waves-effect waves-light  red lighten-2" v-on:click="page='tree'; loadLocalStorage()">
                    <i class="material-icons left">sync</i>
                    继续当前家谱
                </button>
            </div>
            <div class="section">
                <button class="btn-large waves-effect waves-light teal darken-3" v-on:click="loadExample('new')">
                    <i class="material-icons left">create</i>
                    创建新的家谱
                </button>
                <label class="btn-large waves-effect waves-light" v-on:click="openGitModal('load')">
					<i class="material-icons left">cloud_download</i>
					打开
				</label>
                <label class="btn-large waves-effect waves-light">
					<i class="material-icons left">get_app</i>
					上传
					<input type="file" style="display: none;" accept=".gedcom,.ged,.txt" v-on:change="loadFile">
				</label>
            </div>
            <div class="section">
                <h4 class="light">示例</h4>
                <p>
                    使用这些示例家谱探索 Genea。
                </p>
            </div>
            <div class="section">
                <div class="collection left-align">
                    <a href="#" v-on:click="loadExample('royal92')" class="collection-item avatar">
                        <span class="title">皇家 '92</span>
                        <img src="sample/royal92.png" alt="" class="circle">
                        <p>包括欧洲各国君主，尤其是英国的国王和女王。由 Denis R. Reid 于 1992 年出版，虽然可能有些过时，但它是一个经典。</p>
                    </a>
                    <a href="#" v-on:click="loadExample('pres2020')" class="collection-item avatar">
                        <span class="title">总统 2020</span>
                        <img src="sample/pres2020.png" alt="" class="circle">
                        <p>美国历任总统及其祖先和后代的优秀集合，由 Paul Stobbe 更新至 2020 年。</p>
                    </a>
                    <a href="#" v-on:click="loadExample('harrypotter')" class="collection-item avatar">
                        <span class="title">哈利波特</span>
                        <img src="sample/harrypotter.png" alt="" class="circle">
                        <p>《哈利波特》系列的小说家谱，由 famousfamilytrees.blogspot.com 创建。</p>
                    </a>
                </div>
            </div>
            <div class="section" v-if="isDebug()">
                <h4 class="light">调试</h4>
            </div>
            <div class="section" v-if="isDebug()">
                <button class="btn-large waves-effect waves-light" v-on:click="loadExample('gedcom1')">调试示例 1</button>
            </div>
            <div class="divider" v-if="!isNative()"></div>
            <div class="section" v-if="!isNative()">
                <p>
                    <a href="mailto:contact@genea.app" target="_blank">联系我们</a> -
                    <a href="https://github.com/genea-app/genea-app/issues" target="_blank">问题反馈</a> -
                    <a href="https://github.com/genea-app/genea-app" target="_blank">GitHub</a> -
                    <a href="https://github.com/genea-app/genea-app/blob/main/LICENSE" target="_blank">许可协议</a> -
                    <a href="https://github.com/genea-app/genea-app/blob/main/PRIVACY.md" target="_blank">隐私政策</a>
                </p>
            </div>
        </div>

        <!-- 应用 -->
        <header v-show="Object.keys(person).length > 0 && page!='start'" v-cloak>
            <a data-target="nav-mobile" class="top-nav sidenav-trigger btn-floating btn-large teal lighten-3 waves-effect waves-light hide-on-large-only" style="margin: 15px;">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="sidenav sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background teal lighten-3"></div>
                        <img src="img/unknown.png" style="max-width: 100px; max-height: 100px;" />
                        <span class="white-text name">
                            {{person.name}}
                        </span>
                        <span class="white-text email">
                            {{person.birth}}
                            -
                            {{person.death}}
                        </span>
                    </div>
                </li>
                <li>
                    <div class="row" style="margin-top: 0; margin-bottom: 0;">
                        <div class="input-field col s11 offset-s1" style="margin-top: 0; margin-bottom: 0;">
                            <i class="material-icons" style="position: absolute; display: inline-block; right: 24px; top: 15px;">search</i>
                            <input id="search" placeholder="查找人员" class="autocomplete" style="font-weight: 300; color: #777; border: 0;" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="subheader">视图</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='tree'}">
                    <a :href="'#/tree/' + person.id" class="waves-effect waves-teal"><i class="material-icons">account_tree</i>家谱</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='personaldetails'}">
                    <a :href="'#/personaldetails/' + person.id" class="waves-effect waves-teal"><i class="material-icons">person</i>个人详情</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='relations'}">
                    <a :href="'#/relations/' + person.id" class="waves-effect waves-teal"><i class="material-icons">people</i>关系和子女</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="subheader">操作</a>
                </li>
                <li class="bold sidenav-close">
                    <a @click.prevent="saveGit();" v-if="isGitConnected() && !git.outstandingChanges" class="waves-effect waves-teal grey-text"><i class="material-icons">published_with_changes</i>已更新</a>
                    <a @click.prevent="saveGit();" v-if="isGitConnected() && git.outstandingChanges" class="waves-effect waves-teal"><i class="material-icons">cloud_upload</i>未保存的更改</a>
                    <a @click.prevent="saveGit();" v-if="!isGitConnected()" class="waves-effect waves-teal"><i class="material-icons">cloud_upload</i>保存到 Git</a>
                </li>
                <li class="bold sidenav-close" v-if="!isNative()">
                    <a @click.prevent="saveFile();" class="waves-effect waves-teal"><i class="material-icons">save_alt</i>下载</a>
                </li>
                <li class="bold sidenav-close" v-if="isNative()">
                    <a @click.prevent="shareFile();" class="waves-effect waves-teal"><i class="material-icons">share</i>分享</a>
                </li>
                <li class="bold sidenav-close">
                    <a @click="close();" class="waves-effect waves-teal"><i class="material-icons">logout</i>关闭</a>
                </li>
                <li v-if="isDebug()">
                    <div class="divider"></div>
                </li>
                <li v-if="isDebug()">
                    <a class="subheader">开发</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='debug'}" v-if="isDebug()">
                    <a :href="'#/debug'" class="waves-effect waves-teal"><i class="material-icons">adb</i>调试</a>
                </li>
            </ul>
        </header>

        <main v-show="page=='tree'">
            <tree :person="person" />
        </main>

        <main v-show="page=='personaldetails'" class="container">
            <personaldetails :person="person" />
        </main>

        <main v-show="page=='relations'" class="container">
            <relations :person="person" />
        </main>

        <main v-show="page=='debug'" class="container">
            <debug :debug="debug" />
        </main>

        <!-- 弹窗 -->
        <new-person :person="person" ref="modalNewPerson" />
        <div id="modalGit" class="modal">
            <div class="modal-content">
                <div class="row">
                    <h4>Git 仓库</h4>
                </div>
                <div class="row">
                    <p>连接到 Git 仓库以加载或保存您的 GEDCOM 家谱。您可以使用托管服务（如 <a href="https://github.com/" target="_blank">GitHub</a> 或 <a href="https://gitlab.com/" target="_blank">GitLab</a>），或连接到自托管仓库（如 <a href="https://gitea.io/" target="_blank">Gitea</a>、<a href="https://gogs.io/" target="_blank">Gogs</a> 或 <a href="https://github.com/gitbucket/gitbucket" target="_blank">GitBucket</a>）。</p>
                </div>
                <div class="row">
                    <h4>连接详细信息</h4>
                </div>
                <div class="row">
                    <div class="input-field">
                        <label for="gitRepository" class="active">仓库 URL</label>
                        <input id="gitRepository" type="text" v-model="git.repository" />
                    </div>
                    <div class="input-field">
                        <label for="gitBranch" class="active">分支</label>
                        <input id="gitBranch" type="text" v-model="git.branch" />
                    </div>
                    <div class="input-field">
                        <label for="gitPersonalAccessToken" class="active">个人访问令牌</label>
                        <input id="gitPersonalAccessToken" type="text" v-model="git.personalAccessToken" />
                    </div>
                    <div class="input-field">
                        <label for="gitCorsProxy" class="active">CORS 代理（可选）</label>
                        <input id="gitCorsProxy" type="text" v-model="git.corsProxy" />
                    </div>
                </div>
                <a class="btn waves-effect waves-light modal-close" v-show="git.operation=='load'" v-on:click="loadGitData();"><i class="material-icons left">link</i>加载</a>
                <a class="btn waves-effect waves-light modal-close" v-show="git.operation=='save'" v-on:click="saveGitData();"><i class="material-icons left">link</i>保存</a>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">关闭</a>
            </div>
        </div>

    </div>


    <script type="application/javascript">
        // Bind stamboom
        var stamboom = new Stamboom();

        // DOM bindings
        var genea = new Vue({
            el: "#genea",
            data: {
                page: "",
                debug: {
                    dot: "",
                    gedcom: ""
                },
                git: {
                    repository: null,
                    branch: "main",
                    personalAccessToken: null,
                    corsProxy: "https://cors.isomorphic-git.org",
                    operation: null,
                    outstandingChanges: false
                },
                person: {}
            },
            mounted: function() {
                if (window.localStorage.getItem("git")) {
                    this.git = JSON.parse(window.localStorage.getItem("git"));
                }
                if (this.isLocalStorage()) {
                    this.page = "tree";
                    window.setTimeout(function() {
                        genea.loadLocalStorage();
                    }, 200);
                } else {
                    this.page = "start";
                }
                if (this.isGitConnected()) {
                    this.page = "tree";
                    window.setTimeout(function() {
                        genea.loadGitData();
                    }, 200);
                }
            },
            watch: {
                person: {
                    handler: function(val, oldVal) {
                        //if (oldVal.id == val.id) {
                        const isEqual = (...objects) => objects.every(obj => JSON.stringify(obj) === JSON.stringify(objects[0]));
                        if (!isEqual(val, oldVal)) {
                            this.git.outstandingChanges = true;
                            this.autoSave();
                        }
                        //}
                    },
                    deep: true
                },
                git: {
                    handler: function(val, oldVal) {
                        window.localStorage.setItem("git", JSON.stringify(this.git));
                    },
                    deep: true
                }
            },
            methods: {
                autoSave: function() {
                    // 将更改保存到本地存储
                    window.clearTimeout(window.autoSaveTimeout);
                    window.autoSaveTimeout = window.setTimeout(function() {
                        genea.saveLocalStorage();
                    }, 1000);
                    // 如果 Git 已连接，则保存更改
                    if (genea.isGitConnected()) {
                        // 延迟保存，直到10秒内没有更改
                        clearTimeout(window.autoGitSaveTimeout);
                        window.autoGitSaveTimeout = setTimeout(function() {
                            // 让一个窗口自动保存
                            if (!window.localStorage.getItem("isGitSaving")) {
                                window.localStorage.setItem("isGitSaving", true);
                                genea.saveGitData();
                            } else {
                                this.git.outstandingChanges = false;
                            }
                        }, 10 * 1000);
                    }
                },
                loadExample: function(example) {
                    if (!stamboom.isLoaded || window.confirm("这将清除您之前打开的家谱。")) {
                        genea.page = "tree";
                        if (example == "new") {
                            fetch("sample/empty.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select();
                            });
                        }
                        if (example == "gedcom1") {
                            fetch("sample/gedcom1.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@I3@");
                            });
                        }
                        if (example == "royal92") {
                            fetch("sample/royal92.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@I52@");
                            });
                        }
                        if (example == "pres2020") {
                            fetch("sample/pres2020.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@I2185@");
                            });
                        }
                        if (example == "harrypotter") {
                            fetch("sample/harrypotter.ged").then(function(response) {
                                return response.text();
                            }).then(function(data) {
                                stamboom.load(data);
                                stamboom.select("@ind00001@");
                            });
                        }
                    }
                },
                close: function() {
                    if ((this.isGitConnected() && !this.git.outstandingChanges) || window.confirm("这将清除家谱。所做的更改将不会被保存。")) {
                        // 清除本地存储
                        window.localStorage.clear();
                        // 返回开始页面
                        document.location = document.location.origin + document.location.pathname;
                    }
                    return false;
                },
                loadFile: function(event) {
                    if (!stamboom.isLoaded || window.confirm("这将清除您之前打开的家谱。")) {
                        let file = event.srcElement.files[0];
                        let reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function() {
                            genea.page = "tree";
                            stamboom.load(reader.result);
                            stamboom.select();
                        };
                        reader.onerror = function() {
                            alert("读取所选文件时出错。");
                        };
                    }
                },
                saveFile: function() {
                    const a = document.createElement("a");
                    const file = new Blob([stamboom.save()], {
                        type: "text/plain"
                    });
                    a.href = URL.createObjectURL(file);
                    a.download = stamboom.getFilename();
                    a.click();
                    URL.revokeObjectURL(a.href);
                },
                shareFile: function() {
                    var file = new File([stamboom.save()], stamboom.getFilename(), {
                        type: "text/plain"
                    });
                    var share = {
                        title: "家谱",
                        text: "使用 Genea.app 制作；https://www.genea.app/",
                        files: [file]
                    }
                    try {
                        navigator.share(share);
                    } catch (e) {
                        console.log("分享文件时出错:", e);
                        alert("分享文件时出错");
                    }
                },
                openGitModal: function(operation) {
                    this.git.operation = operation;
                    var modal = M.Modal.init(document.querySelector("#modalGit"), {
                        "onCloseEnd": function() {
                            M.FloatingActionButton.init(document.querySelectorAll('.fixed-action-btn'));
                        }
                    });
                    modal.open();
                },
                isGitConnected: function() {
                    return this.git.repository && this.git.branch && this.git.personalAccessToken;
                },
                loadGit: function() {
                    if (!this.isGitConnected()) {
                        this.openGitModal("load");
                    } else {
                        this.loadGitData();
                    }
                },
                loadGitData: async function() {
                    // 从 Git 仓库加载家谱
                    if (!this.isGitConnected()) {
                        alert("由于缺少仓库 URL、分支或个人访问令牌，无法连接到 Git。");
                        return;
                    }
                    try {
                        // 清除状态
                        window.fs = new LightningFS('fs', {
                            wipe: true
                        });
                        window.pfs = window.fs.promises;
                        // 创建本地文件系统
                        window.dir = "/gedcom";
                        await pfs.mkdir(dir);
                        await git.clone({
                            fs,
                            http,
                            dir,
                            url: this.git.repository,
                            corsProxy: this.git.corsProxy,
                            ref: this.git.branch,
                            singleBranch: true,
                            depth: 10,
                            onAuth: () => ({
                                username: this.git.personalAccessToken
                            })
                        });
                        // 加载文件
                        var files = await pfs.readdir(dir);
                        if (files.includes("genea.ged")) {
                            var result = new TextDecoder().decode(await pfs.readFile(dir + '/genea.ged'));
                            genea.page = "tree";
                            stamboom.load(result);
                            router();
                            if (!genea.person.id) {
                                var selectedPerson = window.localStorage.getItem("selectedPerson");
                                stamboom.select(selectedPerson);
                            }
                        } else {
                            alert("无法加载 GEDCOM 文件。请确保仓库根目录下有一个名为 'genea.ged' 的文件。");
                        }
                    } catch (e) {
                        alert(`连接到 Git 仓库或加载 GEDCOM 文件时出错。\n\n消息: ${e.message}`);
                    }
                },
                saveGit: function() {
                    if (!this.isGitConnected()) {
                        this.openGitModal("save");
                    } else {
                        this.saveGitData();
                    }
                },
                saveGitData: async function() {
                    // 将家谱保存到 Git 仓库
                    if (!this.isGitConnected()) {
                        alert("由于缺少仓库 URL、分支或个人访问令牌，无法连接到 Git。");
                        return;
                    }
                    try {
                        // 清除状态
                        window.fs = new LightningFS('fs', {
                            wipe: true
                        });
                        window.pfs = window.fs.promises;
                        // 创建本地文件系统
                        window.dir = "/gedcom";
                        await pfs.mkdir(dir);
                        await git.clone({
                            fs,
                            http,
                            dir,
                            url: this.git.repository,
                            corsProxy: this.git.corsProxy,
                            ref: this.git.branch,
                            singleBranch: true,
                            depth: 10,
                            onAuth: () => ({
                                username: this.git.personalAccessToken
                            })
                        });
                        // 保存文件
                        await pfs.writeFile(`${dir}/genea.ged`, stamboom.save(), "utf8");
                        // 暂存文件
                        await git.add({
                            fs,
                            dir,
                            filepath: "genea.ged"
                        });
                        // 提交文件
                        let sha = await git.commit({
                            fs,
                            dir,
                            author: {
                                name: "Genea.app",
                                email: "git@genea.app",
                            },
                            message: `于 ${new Date().toISOString().replace("T", " ").replace("Z", "")} 更新 "genea.ged"`
                        })
                        console.log("已提交:", sha);
                        // 推送更改
                        let pushResult = await git.push({
                            fs,
                            http,
                            dir,
                            remote: "origin",
                            ref: this.git.branch,
                            onAuth: () => ({
                                username: this.git.personalAccessToken
                            }),
                        });
                        console.log("已推送:", pushResult);
                        window.localStorage.removeItem("isGitSaving");
                        if (pushResult.ok) {
                            this.git.outstandingChanges = false;
                        } else {
                            alert("无法保存 GEDCOM 文件。");
                        }
                    } catch (e) {
                        alert(`连接到 Git 仓库或保存 GEDCOM 文件时出错。\n\n消息: ${e.message}`);
                    }
                },
                isLocalStorage: function() {
                    return window.localStorage.getItem("selectedPerson");
                },
                isNative: function() {
                    return window.localStorage.getItem("isNative") == "true";
                },
                loadLocalStorage: function() {
                    var data = window.localStorage.getItem("stamboom");
                    stamboom.load(data);
                    router();
                    if (!genea.person.id) {
                        var selectedPerson = window.localStorage.getItem("selectedPerson");
                        stamboom.select(selectedPerson);
                    }
                    window.addEventListener('storage', function(e) {
                        if (e.key == "stamboom") {
                            stamboom.load(e.newValue);
                            stamboom.select(genea.person.id);
                        }
                    });
                },
                saveLocalStorage: function() {
                    var data = stamboom.save();
                    window.localStorage.setItem("stamboom", data);
                    window.localStorage.setItem("selectedPerson", genea.selectedPerson);
                },
                debugUpdate: function() {
                    this.debug.dot = stamboom.debug();
                    this.debug.gedcom = stamboom.save();
                },
                isDebug: function() {
                    if (window.sessionStorage.getItem("isDebug") != "on") {
                        // 该函数将检测是否打开了 Dev Tools，如果是，则为会话启用调试模式
                        var t1 = new Date();
                        debugger;
                        if (new Date() - t1 > 200) {
                            window.sessionStorage.setItem("isDebug", "on");
                        } else {
                            window.sessionStorage.setItem("isDebug", "off");
                        }
                    }
                    return (window.sessionStorage.getItem("isDebug") == "on" ? true : false);
                }
            }
        });

        function router() {
            var url = document.location.hash.split("/");
            switch (url[1]) {
                case "tree":
                case "personaldetails":
                case "relations":
                    genea.page = url[1];
                    stamboom.select(url[2]);
                    document.title = `Genea.app - ${genea.person.name}`;
                    break;
                case "native":
                    window.localStorage.setItem("isNative", "true");
                    // Forward to start
                    genea.page = "start";
                    break;
                case "debug":
                    genea.page = "debug";
                    genea.debugUpdate();
                    break;
                default:
                    // Unknown link, do nothing
                    genea.page = "start";
                    document.title = `Genea.app`;
                    break;
            }
        }
        window.addEventListener("hashchange", router);
        router();
    </script>

    <!-- Dependencies -->
    <script type="application/javascript" src="resources/materialize/js/materialize.min.js"></script>
    <script type="application/javascript">
        M.AutoInit();
        M.Sidenav.init(document.querySelector('.sidenav'));
        document.addEventListener("click", function(e) {
            if (e.target && e.target.id == "search") {
                // (Re)populate data in Search autocomplete any time the field is activated
                M.Autocomplete.init(document.querySelector('#search'), {
                    data: (function() {
                        var persons = stamboom.getPersons();
                        persons = Object.fromEntries(persons.map(person => [person.caption]));
                        return persons;
                    })(),
                    onAutocomplete: function(selection) {
                        var person = stamboom.getPersons().find(person => person.caption == selection);
                        if (person && person.id) {
                            genea.page = 'tree';
                            stamboom.select(person.id);
                        } else {
                            alert("Person not found.");
                        }
                        this.el.value = "";
                    }
                });
            }
        });
    </script>
</body>

</html>
